.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 293px));
  justify-content: center;
  grid-gap: 28px;
  padding: 10px 0 10px 0;
}
.post {
  cursor: pointer;
  position: relative;
  display: block;
}
.post-image {
  margin: 0;
}

.post-image img {
  width: 100%;
  vertical-align: top;
}
