.header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.logo {
  margin: 0;
}

.logo img {
  height: 50px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.header a {
  color: #8e0038;
  text-decoration: none; /*quitar el subrayado del enlace*/
  font-size: 25px;
  padding: 0 40px;
}

@media screen and (max-width: 1562px) {
  body {
    margin: 0 60px;
  }
}

@media screen and (max-width: 1400px) {
  .header a {
    font-size: 1.2em;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1240px) {
  .header a {
    padding: 0 12px;
  }
}
@media screen and (max-width: 1124px) {
  h1 strong {
    font-size: 1em;
  }
  h2 {
    font-size: 31px;
  }
  p {
    font-size: 0.95em;
  }
  h1 {
    font-size: 2em;
  }
  .header {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .menu li {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 220px;
    flex-direction: column;
    line-height: 30px;
  }
  ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  body {
    margin: 0 20px;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.8em;
  }
  .hero {
    padding: 1em 1em;
  }
  h1 strong {
    font-size: 0.9em;
  }
  h1 strong1 {
    font-size: 0.9em;
  }
  h1 strong2 {
    font-size: 0.9em;
  }
  h1 strong3 {
    font-size: 0.9em;
  }
  h1 strong4 {
    font-size: 0.8em;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 0.85em;
  }
}
