.hero {
  border: 2px solid #8e0038;
  border-radius: 10px;
  height: 600px;

  background-color: #b5959f;
  background-size: 900px 600px; /*tamaño de la imagen*/
  background-repeat: no-repeat; /*quitar la secuencia de repetición de la imagen*/
  background-position-x: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
