.hero__g {
  border: 2px solid #8e0038;
  border-radius: 10px;
  height: auto;
  display: inherit;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.container__g {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: auto;
  flex-wrap: inherit;
}

.event-description {
  text-align: justify;
}

@media screen and (max-width: 1562px) {
  body {
    margin: 0 60px;
  }
  .event {
    width: auto;
    flex-shrink: initial;
  }
}

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1400px) {
  .header a {
    font-size: 1.2em;
    padding: 0 20px;
  }
  .event {
    width: auto;
    flex-shrink: initial;
  }
}
@media screen and (max-width: 1240px) {
  .header a {
    /*font-size: 0.95em;*/
    padding: 0 12px;
  }
  .event {
    width: auto;
    flex-shrink: initial;
    flex-direction: column;
  }
  .event-detail {
    /*1em = 16px*/
    /*margin: -40px 10px 10px 10px;*/
    margin: -2em 0.5em 0.5em;
    padding: 1em;
  }
  .event-detail-r {
    /* margin: -40px 10px 10px 10px; */
    margin: 0.5em 0.5em -2em;
    padding: 1em;
  }
  .event img {
    width: 100%;
  }
}
@media screen and (max-width: 1124px) {
  h1 strong {
    font-size: 1em;
  }
  h1 strong1 {
    font-size: 1em;
  }
  h1 strong2 {
    font-size: 1em;
  }
  h1 strong3 {
    font-size: 1em;
  }
  h1 strong4 {
    font-size: 0.8em;
  }
  h2 {
    font-size: 31px;
  }
  p {
    font-size: 0.95em;
  }
  .portfolio {
    padding: 0;
  }
  .hero__g {
    height: auto;
    justify-content: center;
    /*position: relative;
      overflow: hidden;
      padding: 2em;*/
  }
  /*.hero-image {
      position: absolute;        para que la imagen quede de fondo y texto superpuesto
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
  }*/
  .main_container {
    justify-content: center;
  }
  h1 {
    font-size: 2em;

    /*z-index: 2;            superpone el texto encima de la imagen de .hero-image*/
  }
  .hero1 h1 {
    margin-left: 0px;
    text-align: center;
  }
  .event-list-title {
    padding-left: 0;
  }
  .hero-imageContainer {
    width: 100%;
    text-align: center;
  }
  .hero-imageContainer img {
    margin: 0;
  }

  .header {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .hero,
  .hero1 {
    height: auto;
    /*position: relative;*/
  }
  .hero1 h1 {
    text-align: center;
  }

  h1 {
    font-size: 2em;
    /*z-index: 2;            superpone el texto encima de la imagen de .hero-image*/
  }
  .hero-imageContainer {
    width: 100%;
    text-align: center;
  }
  .event {
    width: auto;
    flex-shrink: initial;
  }
  /*.event-image{
      width: 100%;
  }*/
  .event img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /*h1 {
      font-size: 1em;
  }*/
  body {
    margin: 0 20px;
  }
  .hero-imageContainer {
    width: 100%;
    text-align: center;
  }
  .hero-imageContainer img {
    margin: 0;
  }
  .event-detail {
    /*1em = 16px*/
    /*margin: -40px 10px 10px 10px;*/
    margin: -2em 0.5em 0.5em;
    padding: 1em;
  }
  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }
  .form-email button {
    margin: 1em auto;
  }
  .form-email h3 {
    margin-top: 0;
  }
  footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .container__g {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  .contact p {
    margin-left: 0px;
    display: flow-root;
  }
  .footer p {
    margin-left: 0px;
  }
  .event-list-title-1 {
    padding-left: 0px;
  }
}
/*desktop first: empezar desde el MQ más grande*/
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.8em;
    /*background: rgba(0,0,0,0.5)*/
  }
  .hero__g {
    padding: 1em 1em;
  }
  h1 strong {
    font-size: 0.9em;
  }
  h1 strong1 {
    font-size: 0.9em;
  }
  h1 strong2 {
    font-size: 0.9em;
  }
  h1 strong3 {
    font-size: 0.9em;
  }
  h1 strong4 {
    font-size: 0.8em;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 0.85em;
  }
}
