.hero__g {
  border: 2px solid #8e0038;
  border-radius: 10px;
  height: auto;
  display: inherit;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.container__g {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: auto;
  flex-wrap: inherit;
}

.event-description {
  text-align: justify;
}
