.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 196.8px));
  justify-content: center;
  grid-gap: 28px;
}
.html-video {
  width: 350px;
  height: 196.8px;
}
.post {
  cursor: pointer;
  position: relative;
  display: block;
}
.post-image {
  margin: 0;
}
.post-image img {
  width: 100%;
  vertical-align: top;
}

@media screen and (max-width: 1400px) {
  .post-list {
    grid-gap: 3px;
  }
}

@media screen and (max-width: 1124px) {
  .post-list {
    grid-gap: 3px;
    grid-template-columns: repeat(2, minmax(350px, 196.8px));
  }
}

@media screen and (max-width: 767px) {
  .post-list {
    grid-template-columns: repeat(1, minmax(350px, 196.8px));
  }
}
